<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Microreddit</title>
    <%= render 'layouts/rails_default' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

<article>
  <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
  <% end %>
    <%= yield %>
  </article>
  </body>

<%= render 'layouts/footer' %>
</html>
