<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Microreddit</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="navigation">
  <div class="nav-container">
    <div class="brand" id="logo">
      <%= link_to "Microreddit", root_url %>
    </div>
    <nav>
      <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
      <ul class="nav-list">
        <li>
          <%= link_to "Home", static_pages_home_url %>
        </li>
        <li>
          <%= link_to "Help", static_pages_help_url %>
        </li>
        <li>
          <%= link_to "Contact", static_pages_contact_url %>
        </li>
      </ul>
    </nav>
  </div>
</section>

<article>
    <%= yield %>
  </article>

  </body>
</html>
